/*图片居中*/
.oz-image-widget img,
.markdown-preview-view img,
.markdown-preview-view video,
.image-embed img {
  max-width: min(100%, 800px) !important;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  outline: 0px solid var(--text-accent);
}